<footer>
  <div class="container">
    <header class="my-1 p-3">
      <p id="legal" class="center-block text-center">
         <small>&copy;</small> <span class="copyright-year"></span> A class project by Bo Espey.
    </header>
  </div>
</footer>
