{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}{{ name }}Band Biographies{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div>
        <h1 class="text-center">{{ name }}</h1>
        <h6 class="text-center">{{ instruments }}</h6>
        <h6 class="text-center">Years in Oasis: {{ tenure }}</h6>
        {{ description | safe }}
      </div>
    </div>
  </article>
{% endblock %}
