{% extends '_templates/base.njk' %}

{% block page_title %}Discography{% endblock %}

{% block page_description %}A list of studio albums by Oasis.{% endblock %}

{% block content %}
<article class="container">
  <h1>Discography</h1>
  <p>Here are the seven studio albums produced by Oasis:</p>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for discography in oasis.discography %}
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ discography.title }}</h5>
            <h6 class="card-caption">{{ discography.year }}</h6>
            <figure class="figure">
              <img src="img/oasis-discography/{{ discography.image }}">
            </figure>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</article>
{% endblock %}