{% extends '_templates/base.njk' %}

{% block page_title %}Discography{% endblock %}

{% block page_description %}A list of studio albums by Oasis.{% endblock %}

{% block content %}
<article class="container">
  <h1>Discography</h1>
  <p>Here are the seven studio albums produced by Oasis:</p>
  <div class="row row-cols-2 row-cols-md-3 g-4 row-cols-lg-4 display-content-center">
    {% for discography in oasis.discography %}
      <div class="col">
        <div class="card h-100 border-dark">
          <div class="card-body text-center bg-light">
            <h6 class="card-caption">{{ discography.year }}</h6>
            <figure class="figure">
              <img src="img/oasis-discography/{{ discography.image }}" class="figure-img img-fluid">
            </figure>
            <h5 class="card-title">{{ discography.title }}</h5>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</article>
{% endblock %}