{% extends '_templates/base.njk' %}

{% block page_title %}The Band of Britpop{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">The Band of Britpop</h1>
      <p><a class="members-link" href="{{ relative_path }}members.html">Oasis</a>, formed in Manchester in 1991, became one of the defining acts of the Britpop movement in the 1990s. Led by the charismatic Gallagher brothers, Liam and Noel, the band achieved massive commercial success across <a class="discography-link" href="{{ relative_path }}discography.html">seven studio albums</a>, most noteably their debut "Definitely Maybe" in 1994, followed by the iconic "(What's the Story) Morning Glory?" in 1995.</p> 
      <p>Known for their anthemic rock sound and intense sibling rivalry, Oasis became emblematic of the era's working-class youth culture. Despite numerous internal conflicts and lineup changes, Oasis left an indelible mark on music history with hits like "Wonderwall" and "Champagne Supernova," solidifying their place as one of the most influential bands of their time.</p>
      <div class="col text-center">
        <figure class="figure">
          <img src="img/oasis-band.jpg" class="figure-img img-fluid" alt="Oasis">
        </figure>
      </div>
    </div>
  </div>
</div>
{% endblock %}